
.card{
    float: left;
    display: block;
    box-sizing: border-box;
    height: 700px;
    width: 250px;
    background-color: rgba(37,37,39,0.9);
    margin-right: 25px;
    color: white;
    text-align: center;
    margin-left: 70px;
}

.card p{
    padding-left: 50px;
    padding-right: 50px;
}

.card h4{
    padding-bottom: 20px;
}

.card img{
    width: 100px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}

.h5{
    text-decoration: none;
    color: white;
}

.h5:hover{
    color: tomato;
}