#formLogin{

    padding: 15px;
    position: absolute;
    display: block;
    margin-top: 13%;
    margin-left: 40%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #e0ccc2;
}

#buttonLogin{

    height: 50px;
    width: 200px;
}

.back{

   background:url(copo.jpg); 
   background-attachment: fixed;
   background-size: 100%;
   background-position: center;
}