body{
    background-image: url(../icons/insumo.jpeg);
    background-size: cover;
    padding: 0;
    margin: 0;
}

.nos{

    margin-left: 25%;
    padding-top: 50px;
    color: white;
    text-align: justify;
}
 
#p{
    color: black;
}