
body {
    margin: 0;
    padding: 0;
    background-image: url(../icons/copo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    font-family: sans-serif;
}

.cadastro {

    width: 480px;
    height: 420;
    border: 2px solid #000;
    border-radius: 0px 80px 0px 80px;
    color: #fff;
    background-image: linear-gradient(to right,#dd8f72,#eb8864,#f88257);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 68px 28px;
    margin-top: 3%;
}

h2 {

    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

h2:hover {
    color: #cd5c5c;
    transition: 0.2s;
}

.cadastro p {

    margin: 0;
    padding: 0;
    font-weight: bold;
}

.cadastro input {

    width: 100%;
    margin-bottom: 21px;
}

.cadastro input[type="password"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="text"] {

    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.cadastro button[type="submit"] {
    border: none;
    outline: none;
    height: 35px;
    color: #000;
    background: #fff;
    border-radius: 20px;
    transition: 0.2s;
    float: right;
}

.cadastro button[type="submit"]:hover {

    cursor: pointer;
    background: #cd5c5c;
    transition: 0.2s;
}
